<!DOCTYPE html>
<html>
  <head>
    <title>Chakaboom</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/header.html.slim' %>

    <div class="container" >

      <% if flash[:notice] %>

          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title">Warning</h3>
            </div>
            <div class="panel-body">
              <%= flash[:notice] %>
            </div>
          </div>

      <% end %>

      <%= yield %>
    </div>

  </body>
</html>
